/*
/home/oskar/Desktop/minecraft/abserver/*/mods/*
# !~/.gitignore
# !~/README.md
# !~/scripts/*
# !~/.config/i3/*
# !~/.config/polybar/*
# !~/.config/nvim/*
# !~/.config/rofi/*
# !~/Desktop/minecraft/abserver/*
# !~/Desktop/minecraft/buildtools/buildtoolsinstall.sh
# !~/Desktop/minecraft/datapacks/*
# !~/Desktop/minecraft/forgemods/*
# !~/Desktop/minecraft/plugins/*
